{{- template "base" . }}

# Set cluster name
patches:
  - target:
      kind: Secret
      name: argocd-cluster-name
    patch: |-
      - op: add
        path: /stringData/name
        value: {{ .Site.Name }}