{
  "default_gateway": "{{ .Site.Spec.Infra.Cluster.DefaultGateway }}",
  "cluster_name": "{{ .Site.Spec.Infra.Cluster.Name }}",
  "cluster_endpoint": "{{ .Site.Spec.Infra.Cluster.Endpoint }}",
  "virtual_shared_ip": "{{ .Site.Spec.Infra.Cluster.VirtualSharedIp }}",
  "cluster_domain": "{{ .Site.Spec.Infra.Cluster.Domain }}",
  "talos_image": {
    "url": "{{ .Site.Spec.Infra.TalosImage.URL }}",
    "file_name": "{{ .Site.Spec.Infra.TalosImage.FileName }}",
    "node_name": "{{ .Site.Spec.Infra.TalosImage.NodeName }}",
    "datastore_id": "{{ .Site.Spec.Infra.TalosImage.DatastoreId }}",
    "overwrite": {{ .Site.Spec.Infra.TalosImage.Overwrite }},
    "content_type": "{{ .TalosImageContentType }}"
  },
  "node_data": {
    "controlplanes": {
      {{- range $index, $node := .Site.Spec.Infra.NodeData.ControlPlanes }}
      {{ if $index }},{{ end }}
      "{{ $node.IP }}": {
        "ip": "{{ $node.IP }}",
        "hostname": "{{ $node.Hostname }}",
        "pve_node": "{{ $node.PveNode }}",
        "pve_id": {{ $node.PveId }},
        "memory": {{ $node.Memory }},
        "cores": {{ $node.Cores }},
        "disk_size": {{ $node.DiskSize }}
        {{- if $node.InstallDisk }},
        "install_disk": "{{ $node.InstallDisk }}"
        {{- end }}
        {{- if $node.StartOnBoot }},
        "start_on_boot": {{ $node.StartOnBoot }}
        {{- end }}
        {{- if $node.NetworkBridge }},
        "network_bridge": "{{ $node.NetworkBridge }}"
        {{- end }}
        {{- if $node.DatastoreId }},
        "datastore_id": "{{ $node.DatastoreId }}"
        {{- end }}
      }
      {{- end }}
    },
    "workers": {
      {{- range $index, $node := .Site.Spec.Infra.NodeData.Workers }}
      {{ if $index }},{{ end }}
      "{{ $node.IP }}": {
        "ip": "{{ $node.IP }}",
        "hostname": "{{ $node.Hostname }}",
        "pve_node": "{{ $node.PveNode }}",
        "pve_id": {{ $node.PveId }},
        "memory": {{ $node.Memory }},
        "cores": {{ $node.Cores }},
        "disk_size": {{ $node.DiskSize }}
        {{- if $node.InstallDisk }},
        "install_disk": "{{ $node.InstallDisk }}"
        {{- end }}
        {{- if $node.StartOnBoot }},
        "start_on_boot": {{ $node.StartOnBoot }}
        {{- end }}
        {{- if $node.NetworkBridge }},
        "network_bridge": "{{ $node.NetworkBridge }}"
        {{- end }}
        {{- if $node.DatastoreId }},
        "datastore_id": "{{ $node.DatastoreId }}"
        {{- end }}
      }
      {{- end }}
    }
  }
}

