{{- $cluster := index .ProviderConfig "cluster" -}}
{{- $talosImage := index .ProviderConfig "talosImage" -}}
{{- $nodeData := index .ProviderConfig "nodeData" -}}
{{- $controlPlanes := index $nodeData "controlPlanes" -}}
{{- $workers := index $nodeData "workers" -}}
{
  "default_gateway": "{{ index $cluster "defaultGateway" }}",
  "cluster_name": "{{ index $cluster "name" }}",
  "cluster_endpoint": "{{ index $cluster "endpoint" }}",
  "virtual_shared_ip": "{{ index $cluster "virtualSharedIp" }}",
  "cluster_domain": "{{ index $cluster "domain" }}",
  "talos_image": {
    "url": "{{ index $talosImage "url" }}",
    "file_name": "{{ index $talosImage "fileName" }}",
    "node_name": "{{ index $talosImage "nodeName" }}",
    "datastore_id": "{{ index $talosImage "datastoreId" }}",
    "overwrite": {{ index $talosImage "overwrite" }},
    "content_type": "{{  index $talosImage "contentType" }}"
  },
  "node_data": {
    "controlplanes": {
      {{- range $index, $node := $controlPlanes }}
      {{ if $index }},{{ end }}
      "{{ index $node "ip" }}": {
        "ip": "{{ index $node "ip" }}",
        "hostname": "{{ index $node "hostname" }}",
        "pve_node": "{{ index $node "pveNode" }}",
        "pve_id": {{ index $node "pveId" }},
        "memory": {{ index $node "memory" }},
        "cores": {{ index $node "cores" }},
        "disk_size": {{ index $node "diskSize" }}
      }
      {{- end }}
    },
    "workers": {
      {{- range $index, $node := $workers }}
      {{ if $index }},{{ end }}
      "{{ index $node "ip" }}": {
        "ip": "{{ index $node "ip" }}",
        "hostname": "{{ index $node "hostname" }}",
        "pve_node": "{{ index $node "pveNode" }}",
        "pve_id": {{ index $node "pveId" }},
        "memory": {{ index $node "memory" }},
        "cores": {{ index $node "cores" }},
        "disk_size": {{ index $node "diskSize" }}
      }
      {{- end }}
    }
  }
}

