{{- $host := .Component.Values.host -}}
{{- $ip := .Component.Values.ip -}}
{{- $webPassword := .Component.Values.webPassword -}}
{{- template "base" . }}

patches:

  # Set ingress

  - target:
      kind: Ingress
      name: .*
    patch: |-
      - op: add
        path: /spec/rules/0/host
        value: {{ $host }}

      - op: add
        path: /spec/tls
        value:
          - hosts:
              - {{ $host }}
            secretName: {{ $host }}

      - op: add
        path: "/metadata/annotations/cert-manager.io~1cluster-issuer"
        value: letsencrypt

  # Set dns service ip

  - target:
      kind: Service
      name: pihole-dns.*
    patch: |-
      - op: add
        path: /spec/loadBalancerIP
        value: {{ $ip }}

  # Set password

  - target:
      kind: Secret
      name: pihole-password
    patch: |-
      - op: remove
        path: /data/password

  - target:
      kind: Secret
      name: pihole-password
    path: secret-patch.yaml
