---
machine:
  network:
    interfaces:
      - interface: eth0
        dhcp: false
        vip:
          ip: ${virtual_shared_ip}
cluster:
  apiServer:
    certSANs:
      - ${virtual_shared_ip}
      - ${cluster_domain}
